n8n.vuhnger.dev {
    reverse_proxy 127.0.0.1:5678
}

api.vuhnger.dev {
    # Serve uploaded images
    handle /uploads/* {
        root * /home/rocky
        file_server
    }

    handle /n8n/* {
        reverse_proxy 127.0.0.1:5004
    }

    handle /wakatime/* {
        reverse_proxy 127.0.0.1:5002
    }

    handle /projects/* {
        reverse_proxy 127.0.0.1:5005
    }
    
    reverse_proxy 127.0.0.1:5001
}
